body {
	background-image: url('../../images/LoginBg.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
}
.lg-container {
	width: 600px;
	margin: 100px auto;
	padding: 20px 40px;
	border: 1px solid #f4f4f4;
	background: rgba(255, 255, 255, .5);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0 0 2px #aaa;
	-moz-box-shadow: 0 0 2px #aaa;
	box-shadow: 0 0 2px #aaa;
}

.lg-container h1 {
	font-family: "新宋体";
	font-size: 40px;
	text-align: center;
}